# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# MLflow
# =========================
mlruns/
mlartifacts/
*.db
*.db-shm
*.db-wal

# =========================
# DVC
# =========================
.dvc/cache/

# =========================
# Generated artifacts
# =========================
artifacts/

# =========================
# Testing / tooling
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp